<?php

$header = <<<EOF
This file is part of the Thunder micro CLI framework.
(c) Jérémy Marodon <marodon.jeremy@gmail.com>
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
EOF;

$finder = PhpCsFixer\Finder::create()
    ->in([
        __DIR__.'/src',
        __DIR__.'/tests',
    ])
    ->exclude('skeleton')
;

return PhpCsFixer\Config::create()
    ->setRules([
        'header_comment' => ['header' => $header],
    ])
    ->setFinder($finder)
;
