<?xml version="1.0" encoding="UTF-8"?>

<ruleset
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>

    <!-- Ignore warnings, show progress of the run and show sniff names -->
    <arg value="nps"/>

    <rule ref="Youdot"/>

    <rule ref="SlevomatCodingStandard.Classes.DisallowLateStaticBindingForConstants">
        <exclude name="SlevomatCodingStandard.Classes.DisallowLateStaticBindingForConstants.DisallowedLateStaticBindingForConstant"/>
    </rule>

    <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes.DeclareStrictTypesMissing">
        <exclude-pattern>tests/skeleton</exclude-pattern>
    </rule>

    <!-- Directories to be checked -->
    <file>src</file>
    <file>tests</file>
</ruleset>
