parameters:
	excludes_analyse:
		- %rootDir%/../../../vendor

	ignoreErrors:
		-
		    message: "#Offset '[user|pass]+' does not exist#"
		    path: %currentWorkingDirectory%/src/Console/EventStoreConsole.php
